<header class="intro">
  {% if page.image %}
    {% assign intro_media = page.image.path | default: page.image | relative_url | replace: ' ', '%20' %}
    {% assign intro_media_lower = page.image.path | default: page.image | downcase %}
    {% assign intro_poster = page.image.poster | default: page.image.thumbnail %}
    <div class="intro-image">
      {% if intro_media_lower contains ".mp4" or intro_media_lower contains ".m4v" or intro_media_lower contains ".mov" or intro_media_lower contains ".webm" %}
        <video autoplay loop muted playsinline style="width:100%;height:auto;display:block;"{% if intro_poster %} poster="{{ intro_poster | relative_url | replace: ' ', '%20' }}"{% endif %}>
          <source src="{{ intro_media }}" type="video/mp4">
        </video>
      {% else %}
        <img src="{{ intro_media }}" alt="{{ page.title }}">
      {% endif %}
    </div>
  {% endif %}

  <div class="inner">
    <div class="intro-text">
      <h1 id="page-title" class="intro-title">{{ page.alt_title | default: page.title | default: site.title | markdownify | strip_html }}</h1>
      {% if page.sub_title %}
        <p class="intro-subtitle">{{ page.sub_title | markdownify | strip_html }}</p>
      {% endif %}

      {% if page.date and page.collection != "research" %}
        {% include author %}
        <p class="entry-meta">
          {% if author_name %}<span class="byline-item">{{ author_name | prepend: 'by ' }}</span>{% endif %}<span class="byline-item"><span class="icon">{% include icon-calendar.svg %}</span><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time></span>{% if page.read_time %} <span class="byline-item"><span class="icon">{% include icon-stopwatch.svg %}</span>{% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}</span>{% endif %}
        </p>
      {% endif %}

      {% if page.introduction %}
        <div class="intro-more">
          {{ page.introduction | markdownify }}
        </div>
      {% endif %}

      {% if page.actions %}
        <ul class="intro-actions">
          {% for action in page.actions %}
            <li><a href="{{ action.url }}" class="btn">{% if action.icon %}<span class="icon">{% include {{ action.icon | prepend: 'icon-' | append: '.svg' }} %}</span>{% endif %}{{ action.label }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</header>
