---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <!-- This renders the body of index.md -->
    <div>{{ content }}</div>
    
    {% if site.posts.size > 0 %}
      <div>
        <header class="section-title">
          <h2>
            {{ page.news_title | default: 'News' }}
            {% if paginator and paginator.page > 1 %}
              {{ site.data.theme.t.page | default: 'Page' | prepend: ' - ' | append: ' ' }}
              {{ paginator.page }} {{ site.data.theme.t.of | default: 'of' }} {{ paginator.total_pages }}
            {% endif %}
          </h2>
        </header>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% assign news_limit = page.news_limit | default: 3 %}
          {% for post in site.posts limit: news_limit %}
            {% include entry.html %}
          {% endfor %}
        </div>
        <p><a href="{{ '/posts/' | relative_url }}" class="more-link">View all news <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a></p>
      </div>
    {% endif %}
    
  </div>
</main>